language: ruby
rvm:
  - 2.5.1
cache: bundler
sudo: false
bundler_args: --without development production
services:
  - docker

before_install:
  - docker-compose pull
  - docker-compose build
  - docker ps

  # setup testing environment
  # - docker-compose run --rm -e RAILS_ENV=test --entrypoint="bundle install --with=test" zoo_stats
  - docker-compose run --rm -e RAILS_ENV=test --entrypoint="bundle exec rake db:setup" zoo_stats

script:
  - docker-compose run -T --rm -e RAILS_ENV=test --entrypoint="bundle exec rspec" zoo_stats
